<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bddescubrimiento?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1116291</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider </property>
    <property name="hibernate.show_sql">true</property>
    
    <!-- Configuración del pool de conexiones-->
    <property name="c3p0.autoCommitOnClose">true</property>
    <property name="c3p0.acquire_increment">1</property>
    <property name="c3p0.initialPoolSize">5</property>
    <property name="c3p0.idle_test_period">100</property><!-- seconds -->
    <property name="c3p0.max_size">50</property>
    <property name="c3p0.max_statements">0</property>
    <property name="c3p0.min_size">5</property>
    <property name="c3p0.timeout">100</property>
    
    <mapping resource="iing/uabc/edu/mx/persistencia/modelo/Usuario.hbm.xml"/>
    <mapping resource="iing/uabc/edu/mx/persistencia/modelo/Proceso.hbm.xml"/>
    <mapping resource="iing/uabc/edu/mx/persistencia/modelo/Contexto.hbm.xml"/>
    <mapping resource="iing/uabc/edu/mx/persistencia/modelo/Busqueda.hbm.xml"/>
    <mapping resource="iing/uabc/edu/mx/persistencia/modelo/Registro.hbm.xml"/>
    <mapping resource="iing/uabc/edu/mx/persistencia/modelo/Recurso.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
